<div>
	<h3>面板一</h3>
	<p>快捷构建语法</p>
	<p>div.comui-card-window>div.comui-card-hidden>div.comui-card>div.comui-card-header+div.comui-card-body</p>
	<div class="comui-admin-window">
		<div class="comui-card-window">
			<div class="comui-card-hidden">
				<!-- 卡片面板 -->
				<div class="comui-card">
					<div class="comui-card-header">快捷方式</div>
					<div class="comui-card-body">
						<div style="width: 100%; height: 280px;">
							<!-- dosomething -->
							<!--<div >
								<ul class="comui-row comui-col-space10">
									<li class="comui-col-xs3">
										<a>
											<i class="comui-icon comui-icon-console"></i>
											<cite>主页一</cite>
										</a>
									</li>
									<li class="comui-col-xs3">
										<a>
											<i class="comui-icon comui-icon-chart"></i>
											<cite>主页二</cite>
										</a>
									</li>
									<li class="comui-col-xs3">
										<a>
											<i class="comui-icon comui-icon-template-1"></i>
											<cite>弹层</cite>
										</a>
									</li>
									<li class="comui-col-xs3">
										<a>
											<i class="comui-icon comui-icon-chat"></i>
											<cite>聊天</cite>
										</a>
									</li>
								</ul>
							</div>-->
							<button class="comui-btn comui-btn-light-blue-empty">自定义按钮</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<br />


<div>
	<h3>面板二</h3>
	<div class="comui-admin-window comui-bg-dark" style="display: -webkit-flex;display: flex;">
		<div class="comui-card-window" style="flex: 1;">
			<div class="comui-card-hidden">
				<!-- 卡片面板 -->
				<div class="comui-card">
					<div class="comui-card-header">快捷方式</div>
					<div class="comui-card-body">
						<div style="width: 100%; height: 280px;">
							<!-- dosomething -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="comui-card-window" style="flex: 1;">
			<div class="comui-card-hidden">
				<!-- 卡片面板 -->
				<div class="comui-card">
					<div class="comui-card-header comui-text-blue">快捷方式</div>
					<div class="comui-card-body">
						<div style="width: 100%; height: 280px;">
							<!-- dosomething -->
							<button class="comui-btn comui-btn-dark">自定义按钮</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>