<div>
	<div style="padding: 8px;margin: 10px; border:1px solid red;">
		<h2>面板一</h2>
		<p>快捷构建语法:</p>
		<p>以为subline为例，复制以下此句，按tab即可快速构建结构</p>
		<p>div.comui-card-window>div.comui-card-hidden>div.comui-card>div.comui-card-header+div.comui-card-body</p>
	</div>
	<div class="comui-admin-window">
		<div class="comui-card-window">
			<div class="comui-card-hidden">
				<!-- 卡片面板 -->
				<div class="comui-card">
					<div class="comui-card-header">快捷方式</div>
					<div class="comui-card-body">
						<div class="comui-card-padding">
							<div style="width: 100%; height: 280px;">
								<!-- dosomething -->
								<!--<div >
									<ul class="comui-row comui-col-space10">
										<li class="comui-col-xs3">
											<a>
												<i class="comui-icon comui-icon-console"></i>
												<cite>主页一</cite>
											</a>
										</li>
										<li class="comui-col-xs3">
											<a>
												<i class="comui-icon comui-icon-chart"></i>
												<cite>主页二</cite>
											</a>
										</li>
										<li class="comui-col-xs3">
											<a>
												<i class="comui-icon comui-icon-template-1"></i>
												<cite>弹层</cite>
											</a>
										</li>
										<li class="comui-col-xs3">
											<a>
												<i class="comui-icon comui-icon-chat"></i>
												<cite>聊天</cite>
											</a>
										</li>
									</ul>
								</div>-->
								<button class="comui-btn comui-btn-light-blue-empty">自定义按钮</button>
					
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br />

<div>
	<div style="padding: 8px;margin: 10px; border:1px solid red;">
		<h2>面板二</h2>
		<p>快捷构建语法:</p>
		<p>以为subline为例，复制以下此句，按tab即可快速构建结构</p>
		<p>div.comui-admin-window.comui-bg-dark>div.comui-card-window>div.comui-card-hidden>div.comui-card>div.comui-card-header+div.comui-card-body.comui-text-white</p>
	</div>
	<div class="comui-admin-window comui-bg-dark" style="display: -webkit-flex;display: flex;">
		<div class="comui-card-window" style="flex: 1;">
			<div class="comui-card-hidden">
				<!-- 卡片面板 -->
				<div class="comui-card">
					<div class="comui-card-header">快捷方式</div>
					<div class="comui-card-body comui-text-white">
						<div class="comui-card-padding">
							<div style="width: 100%; height: 280px;">
								<!-- dosomething -->
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="comui-card-window" style="flex: 1;">
			<div class="comui-card-hidden">
				<!-- 卡片面板 -->
				<div class="comui-card">
					<div class="comui-card-header comui-text-blue">快捷方式</div>
					<div class="comui-card-body">
						<div class="comui-card-padding">
							<div style="width: 100%; height: 280px;">
								<!-- dosomething -->
								<button class="comui-btn comui-btn-dark">自定义按钮</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<br />

<div>
	<div style="padding: 8px;margin: 10px; border:1px solid red;">
		<h2>面板三</h2>
		<p>快捷构建语法:</p>
		<p>以为subline为例，复制以下此句，按tab即可快速构建结构</p>
		<p>div.comui-admin-window.comui-bg-lightpink>div.comui-card-window>div.comui-card-hidden>div.comui-card>div.comui-card-header.comui-card-header-style+div.comui-card-body</p>
		<p>div.comui-admin-window.comui-bg-lightpink>div.comui-card-window>div.comui-card-hidden>div.comui-card>div.comui-card-header+div.comui-card-body</p>
	</div>
	<div class="comui-admin-window comui-bg-lightpink" style="display: -webkit-flex;display: flex;">
		<div class="comui-card-window" style="flex: 1;">
			<div class="comui-card-hidden">
				<!-- 卡片面板 -->
				<div class="comui-card">
					<div class="comui-card-header comui-card-header-style">快捷方式</div>
					<div class="comui-card-body">
						<div class="comui-card-padding">
							<div style="width: 100%; height: 280px;">
								<!-- dosomething -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="comui-card-window" style="flex: 1;">
			<div class="comui-card-hidden">
				<!-- 卡片面板 -->
				<div class="comui-card">
					<div class="comui-card-header">快捷方式</div>
					<div class="comui-card-body">
						<div class="comui-card-padding">
							<div style="width: 100%; height: 280px;">
								<!-- dosomething -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
