/* 红色 */
$bg-color-red: #e71106;
/* 深红色 */
$bg-color-deepred: #cf170e;
/* 橙色 */
$bg-color-orange: #f89800;
/* 浅橙色 */
$bg-color-lightorange: #fcb23f;
/* 浅蓝色  */
$bg-color-lightblue: #18bae9;

.comui-block {
    display: inline-block;
    padding: 10px;
    width: 148px;
    color: #fff;
    white-space: nowrap;
    font-family: "microsoft yahei";
    background: #ccc;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.comui-block-top,
.comui-block-bottom{
    font-size: 0;
}

.comui-block-num,
.comui-block-txt{
    display: inline-block;
}
.comui-block-num{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.comui-block-txt{
    font-size: 14px;
    line-height: 20px;
}

/* 大小 */
.comui-block-fullw{ width: 100%; }
.comui-block-lg{ padding: 18px 14px; }
.comui-block-m{ padding: 14px 14px 10px; }
.comui-block-sm{ padding: 10px 10px 6px; }
.comui-block-xs{ padding: 6px 10px 4px; }

/* 风格 */
.comui-block-red{background: $bg-color-red;}
.comui-block-deepred{background: $bg-color-deepred;}
.comui-block-orange{background: $bg-color-orange;}
.comui-block-lightorange{background: $bg-color-lightorange;}
.comui-block-lightblue{ background: $bg-color-lightblue; }
.comui-block-default{ background: none; border: 1px solid #e5e5e5; color: #333;}
.comui-block-empty{ background: none; color: #333;}
.comui-block-shadow{ background: none; color: #333;-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1); box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);}
