
<div style="padding:10px;">
	<div class="comui-block">
    	<div class="comui-block-num">23</div>
    	<div class="comui-block-txt">文字</div>
    </div>
    <div class="comui-block comui-block-red">
    	<div class="comui-block-num">23</div>
    	<div class="comui-block-txt">文字</div>
    </div>
    <div class="comui-block comui-block-deepred">
    	<div class="comui-block-num">23</div>
    	<div class="comui-block-txt">文字</div>
    </div>
    <div class="comui-block comui-block-orange">
    	<div class="comui-block-num">23</div>
    	<div class="comui-block-txt">文字</div>
    </div>
    <div class="comui-block comui-block-lightorange">
    	<div class="comui-block-num">23</div>
    	<div class="comui-block-txt">文字</div>
    </div>
</div>

