
<div style="padding:10px;">
	<span>色系：</span>
	<div class="comui-block">
		<div class="comui-block-top">
			<span class="comui-block-num">23</span>
		</div>
		<div class="comui-block-bottom">
			<span class="comui-block-txt">文字</span>
		</div>
    </div>
    <div class="comui-block comui-block-red">
		<div class="comui-block-top">
			<span class="comui-block-num">23</span>
		</div>
		<div class="comui-block-bottom">
			<span class="comui-block-txt">文字</span>
		</div>
    </div>
    <div class="comui-block comui-block-deepred">
		<div class="comui-block-top">
			<span class="comui-block-num">23</span>
		</div>
		<div class="comui-block-bottom">
			<span class="comui-block-txt">文字</span>
		</div>
    </div>
    <div class="comui-block comui-block-orange">
		<div class="comui-block-top">
			<span class="comui-block-num">23</span>
		</div>
		<div class="comui-block-bottom">
			<span class="comui-block-txt">文字</span>
		</div>
    </div>
    <div class="comui-block comui-block-lightorange">
		<div class="comui-block-top">
			<span class="comui-block-num">23</span>
		</div>
		<div class="comui-block-bottom">
			<span class="comui-block-txt">文字</span>
		</div>
    </div>
    
    
    <br /><br />
    <span>风格：</span>
    <div class="comui-block comui-block-lightblue">
	    <div class="comui-block-top">
	        <span class="comui-block-num">230</span><span class="comui-block-txt">个</span>
	    </div>
	    <div class="comui-block-bottom">
	        <span class="comui-block-txt">总数</span>
	    </div>
	</div>
    
    
    <br /><br />
    <span>尺寸：</span>
    <div class="comui-block comui-block-lg">
		<div class="comui-block-top">
			<span class="comui-block-num">23</span>
		</div>
		<div class="comui-block-bottom">
			<span class="comui-block-txt">文字</span>
		</div>
    </div>
    <div class="comui-block comui-block-m">
		<div class="comui-block-top">
			<span class="comui-block-num">23</span>
		</div>
		<div class="comui-block-bottom">
			<span class="comui-block-txt">文字</span>
		</div>
    </div>
    <div class="comui-block comui-block-sm">
		<div class="comui-block-top">
			<span class="comui-block-num">23</span>
		</div>
		<div class="comui-block-bottom">
			<span class="comui-block-txt">文字</span>
		</div>
    </div>
    <div class="comui-block comui-block-xs">
		<div class="comui-block-top">
			<span class="comui-block-num">23</span>
		</div>
		<div class="comui-block-bottom">
			<span class="comui-block-txt">文字</span>
		</div>
    </div>
    
    
</div>

