<div>
    <div><a href="javascript" class="btn btn-blue">按钮</a></div>
    <div><a href="javascript" class="btn btn-green">按钮</a></div>
    <div><a href="javascript" class="btn btn-l-green">按钮</a></div>
    <div><a href="javascript" class="btn btn-orange">按钮</a></div>
    <div><a href="javascript" class="btn btn-l-orange">按钮</a></div>
    <div><a href="javascript" class="btn btn-l-black">按钮</a></div>
</div>

<div style="padding:10px;">
    <span>按钮色系：</span>
    <a href="" class="comui-btn comui-btn-primary">原始按钮</a>
    <a href="" class="comui-btn">默认按钮</a>
    <button class="comui-btn comui-btn-normal">百搭按钮</button>
    <button class="comui-btn comui-btn-warm">暖色按钮</button>
    <button class="comui-btn comui-btn-danger">警告按钮</button>
    <button class="comui-btn comui-btn-disabled">禁用按钮</button>
	<button class="comui-btn comui-btn-light-blue">自定义按钮</button>
	<button class="comui-btn comui-btn-light-blue-empty">自定义按钮</button>
	<button class="comui-btn comui-btn-gray-lightblue">自定义按钮</button>
	<button class="comui-btn comui-btn-light-blue-white">自定义按钮</button>
	<button class="comui-btn comui-btn-dark">自定义按钮</button>

    <br><br>

    <span>按钮图标：</span>
    <button class="comui-btn"><i class="comui-icon">&#xe603;</i></button>
    <button class="comui-btn"><i class="comui-icon">&#xe602;</i></button>
    <button class="comui-btn"><i class="comui-icon">&#xe654;</i></button>
    <button class="comui-btn"><i class="comui-icon">&#xe642;</i></button>
    <button class="comui-btn"><i class="comui-icon">&#xe640;</i></button>
    <button class="comui-btn"><i class="comui-icon">&#xe641;</i></button>

    <br><br>

    <span>按钮尺寸：</span>
    <button class="comui-btn comui-btn-lg">大型按钮</button>
    <button class="comui-btn">默认按钮</button>
    <button class="comui-btn comui-btn-sm">小型按钮</button>
    <button class="comui-btn comui-btn-xs">迷你按钮</button>
    <button class="comui-btn comui-btn-primary comui-btn-lg">大型按钮</button>
    <button class="comui-btn comui-btn-primary">默认按钮</button>
    <button class="comui-btn comui-btn-primary comui-btn-sm">小型按钮</button>
    <button class="comui-btn comui-btn-primary comui-btn-xs">迷你按钮</button>
    <button class="comui-btn comui-btn-primary comui-btn-m">一般大小按钮</button>

    <br><br>

    <span>按钮圆角：</span>
    <button class="comui-btn comui-btn-primary comui-btn-radius">原始按钮</button>
    <button class="comui-btn comui-btn-radius">默认按钮</button>
    <button class="comui-btn comui-btn-normal comui-btn-radius">百搭按钮</button>
    <button class="comui-btn comui-btn-warm comui-btn-radius">暖色按钮</button>
    <button class="comui-btn comui-btn-danger comui-btn-radius">警告按钮</button>
    <button class="comui-btn comui-btn-disabled comui-btn-radius">禁用按钮</button>
	<button class="comui-btn comui-btn-light-blue comui-btn-radius">自定义按钮</button>
	
    <br><br>

    <span>按钮图文：</span>
    <button class="comui-btn comui-btn-lg comui-btn-primary comui-btn-radius">大型加圆角</button>
    <button class="comui-btn comui-btn-sm comui-btn-normal"><i class="comui-icon">&#xe640;</i> 删除</button>
    <button class="comui-btn comui-btn-xs comui-btn-disabled"><i class="comui-icon">&#xe641;</i> 禁分享</button>

    <br><br>

    <span>按钮组：</span>
    <div class="comui-btn-group">
      <button class="comui-btn">增加</button>
      <button class="comui-btn ">编辑</button>
      <button class="comui-btn">删除</button>
    </div>

    <div class="comui-btn-group">
      <button class="comui-btn comui-btn-sm"><i class="comui-icon">&#xe654;</i></button>
      <button class="comui-btn comui-btn-sm"><i class="comui-icon">&#xe642;</i></button>
      <button class="comui-btn comui-btn-sm"><i class="comui-icon">&#xe640;</i></button>
      <button class="comui-btn comui-btn-sm"><i class="comui-icon">&#xe602;</i></button>
    </div>

    <div class="comui-btn-group">
      <button class="comui-btn comui-btn-primary comui-btn-sm"><i class="comui-icon">&#xe654;</i></button>
      <button class="comui-btn comui-btn-primary comui-btn-sm"><i class="comui-icon">&#xe642;</i></button>
      <button class="comui-btn comui-btn-primary comui-btn-sm"><i class="comui-icon">&#xe640;</i></button>
      <button class="comui-btn comui-btn-primary comui-btn-sm"><i class="comui-icon">&#xe602;</i></button>
    </div>

	<div class="comui-btn-group">
      <button class="comui-btn comui-btn-light-blue-empty comui-btn-sm">按钮</button>
      <button class="comui-btn comui-btn-light-blue-empty comui-btn-sm">按钮</button>
      <button class="comui-btn comui-btn-light-blue-empty comui-btn-sm">按钮</button>
      <button class="comui-btn comui-btn-light-blue-empty comui-btn-sm">按钮</button>
    </div>
    
    <br><br><br>

</div>

