<div style="padding:10px;">
    <h2>按钮色系：</h2>
    <a href="" class="comui-btn comui-btn-primary">原始按钮</a>
    <a href="" class="comui-btn">默认按钮</a>
    <button class="comui-btn comui-btn-normal">百搭按钮</button>
    <button class="comui-btn comui-btn-warm">暖色按钮</button>
    <button class="comui-btn comui-btn-danger">警告按钮</button>
    <button class="comui-btn comui-btn-disabled">禁用按钮</button>
    <br />
	<button class="comui-btn comui-btn-light-blue">自定义按钮</button>
	<button class="comui-btn comui-btn-light-blue-empty">自定义按钮</button>
	<button class="comui-btn comui-btn-gray-lightblue">自定义按钮</button>
	<button class="comui-btn comui-btn-light-blue-white">自定义按钮</button>
	<button class="comui-btn comui-btn-dark">自定义按钮</button>
	<button class="comui-btn comui-btn-red">自定义按钮</button>
	<button class="comui-btn comui-btn-graygreen">自定义按钮</button>

    <br /><br /><br />

    <h2>按钮图标：</h2>
    <button class="comui-btn"><i class="fa fa-bar-chart"></i></button>
    <button class="comui-btn"><i class="fa fa-file"></i></button>
    <button class="comui-btn"><i class="fa fa-file-text-o"></i></button>
    <button class="comui-btn"><i class="fa fa-list"></i></button>
    <button class="comui-btn"><i class="fa fa-cog"></i></button>


    <br /><br /><br />

    <h2>按钮尺寸：</h2>
    <button class="comui-btn comui-btn-lg">大型按钮</button>
    <button class="comui-btn">默认按钮</button>
    <button class="comui-btn comui-btn-sm">小型按钮</button>
    <button class="comui-btn comui-btn-xs">迷你按钮</button>
    <br />
    <button class="comui-btn comui-btn-primary comui-btn-lg">大型按钮</button>
    <button class="comui-btn comui-btn-primary">默认按钮</button>
    <button class="comui-btn comui-btn-primary comui-btn-sm">小型按钮</button>
    <button class="comui-btn comui-btn-primary comui-btn-xs">迷你按钮</button>
    <button class="comui-btn comui-btn-primary comui-btn-m">一般大小按钮</button>

    <br /><br /><br />

    <h2>按钮圆角：</h2>
    <button class="comui-btn comui-btn-primary comui-btn-radius">原始按钮</button>
    <button class="comui-btn comui-btn-radius">默认按钮</button>
    <button class="comui-btn comui-btn-normal comui-btn-radius">百搭按钮</button>
    <button class="comui-btn comui-btn-warm comui-btn-radius">暖色按钮</button>
    <button class="comui-btn comui-btn-danger comui-btn-radius">警告按钮</button>
    <button class="comui-btn comui-btn-disabled comui-btn-radius">禁用按钮</button>
	<button class="comui-btn comui-btn-light-blue comui-btn-radius">自定义按钮</button>
	
    <br /><br /><br />

    <h2>按钮图文：</h2>
    <button class="comui-btn comui-btn-sm"><i class="fa fa-close"></i> 删除</button>
    <button class="comui-btn comui-btn-xs comui-btn-disabled"><i class="fa fa-ban"></i> 禁分享</button>

    <br /><br /><br />

    <h2>按钮组：</h2>
    <div class="comui-btn-group">
    	<button class="comui-btn">返回</button>
		<button class="comui-btn">新增</button>
		<button class="comui-btn">编辑</button>
		<button class="comui-btn">删除</button>
		<button class="comui-btn">刷新</button>
    </div>

    <div class="comui-btn-group">
    	<button class="comui-btn comui-btn-sm"><i class="fa fa-backward"></i></button>
    	<button class="comui-btn comui-btn-sm"><i class="fa fa-forward"></i></button>
    	<button class="comui-btn comui-btn-sm"><i class="fa fa-play"></i></button>
    	<button class="comui-btn comui-btn-sm"><i class="fa fa-pause"></i></button>
    	<button class="comui-btn comui-btn-sm"><i class="fa fa-stop"></i></button>
    </div>

    <div class="comui-btn-group">
    	<button class="comui-btn comui-btn-primary comui-btn-sm"><i class="fa fa-backward"></i></button>
    	<button class="comui-btn comui-btn-primary comui-btn-sm"><i class="fa fa-forward"></i></button>
    	<button class="comui-btn comui-btn-primary comui-btn-sm"><i class="fa fa-play"></i></button>
    	<button class="comui-btn comui-btn-primary comui-btn-sm"><i class="fa fa-pause"></i></button>
    	<button class="comui-btn comui-btn-primary comui-btn-sm"><i class="fa fa-stop"></i></button>
    </div>
    
    <div class="comui-btn-group">
    	<button class="comui-btn comui-btn-light-blue-empty comui-btn-sm"><i class="fa fa-backward"></i></button>
    	<button class="comui-btn comui-btn-light-blue-empty comui-btn-sm"><i class="fa fa-forward"></i></button>
    	<button class="comui-btn comui-btn-light-blue-empty comui-btn-sm"><i class="fa fa-play"></i></button>
    	<button class="comui-btn comui-btn-light-blue-empty comui-btn-sm"><i class="fa fa-pause"></i></button>
    	<button class="comui-btn comui-btn-light-blue-empty comui-btn-sm"><i class="fa fa-stop"></i></button>
    </div>

    <br><br><br>

</div>





<br /><br /><br /><br /><br />

<div>
    <div><a href="javascript" class="btn btn-blue">按钮</a></div>
    <div><a href="javascript" class="btn btn-green">按钮</a></div>
    <div><a href="javascript" class="btn btn-l-green">按钮</a></div>
    <div><a href="javascript" class="btn btn-orange">按钮</a></div>
    <div><a href="javascript" class="btn btn-l-orange">按钮</a></div>
    <div><a href="javascript" class="btn btn-l-black">按钮</a></div>
</div>