<div style="padding: 10px;">
	<form class="comui-form comui-form-pane1" action="">
		<div class="comui-form-item">
			<label class="comui-form-label">输入框</label>
			<div class="comui-input-block">
				<input class="comui-input" type="text" name="title" required placeholder="请输入标题" autocomplete="off">
			</div>
		</div>
		<div class="comui-form-item">
			<label class="comui-form-label">手机</label>
			<div class="comui-input-block">
				<input class="comui-input" type="tel" name="phone" autocomplete="off">
			</div>
		</div>
		<div class="comui-form-item">
			<label class="comui-form-label">邮箱</label>
			<div class="comui-input-block">
				<input class="comui-input" type="email" name="email" autocomplete="off">
			</div>
		</div>
		<div class="comui-form-item">
			<label class="comui-form-label">密码</label>
			<div class="comui-input-inline">
				<input class="comui-input" type="password" name="password" placeholder="请输入密码" autocomplete="off">
			</div>
			<div class="comui-form-mid comui-word-aux">请务必填写用户名</div>
		</div>
		<div class="comui-form-item">
			<div class="comui-inline">
				<label class="comui-form-label">范围</label>
				<div class="comui-input-inline" style="width: 100px;">
					<input class="comui-input" type="text" name="price_min" placeholder="￥" autocomplete="off">
				</div>
				<div class="comui-form-mid">-</div>
				<div class="comui-input-inline" style="width: 100px;">
					<input class="comui-input" type="text" name="price_max" placeholder="￥" autocomplete="off">
				</div>
			</div>
		</div>

		<div class="comui-form-item">
			<label class="comui-form-label">选择框</label>
			<div class="comui-input-block">
				<select name="interest">
					<option value=""></option>
					<option value="0">写作</option>
					<option value="1">阅读</option>
					<option value="2">游戏</option>
					<option value="3">音乐</option>
					<option value="4">旅行</option>
				</select>
				<!--<div class="comui-unselect comui-form-select comui-form-selected">
					<div class="comui-select-title"><input type="text" placeholder="请选择" value="音乐" readonly="" class="comui-input comui-unselect"><i class="comui-edge"></i></div>
					<dl class="comui-anim comui-anim-upbit" style="">
						<dd lay-value="" class="comui-select-tips">请选择</dd>
						<dd lay-value="0" class="">写作</dd>
						<dd lay-value="1" class="">阅读</dd>
						<dd lay-value="2" class="">游戏</dd>
						<dd lay-value="3" class="comui-this">音乐</dd>
						<dd lay-value="4" class="">旅行</dd>
					</dl>
				</div>-->
			</div>
		</div>

		<div class="comui-form-item">
			<label class="comui-form-label">搜索选择框</label>
			<div class="comui-input-inline">
				<select name="interest-search">
					<option value=""></option>
					<option value="写作">写作</option>
					<option value="阅读" disabled>阅读</option>
					<option value="游戏" disabled>游戏</option>
					<option value="音乐">音乐</option>
					<option value="旅行">旅行</option>
					<option value="读书">读书</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
				</select>
			</div>
		</div>

		<div class="comui-form-item" pane>
			<label class="comui-form-label">复选框</label>
			<div class="comui-input-block">
				<input type="checkbox" name="like[write]" title="写作">
				<div class="comui-unselect comui-form-checkbox" lay-skin="primary"><span>写作</span><i class="comui-icon comui-icon-ok"></i></div>
				<input type="checkbox" name="like[read]" title="阅读">
				<div class="comui-unselect comui-form-checkbox" lay-skin="primary"><span>阅读</span><i class="comui-icon comui-icon-ok"></i></div>
				<input type="checkbox" name="like[game]" title="游戏" disabled>
				<div class="comui-unselect comui-form-checkbox comui-checkbox-disbaled comui-disabled" lay-skin="primary"><span>游戏</span><i class="comui-icon comui-icon-ok"></i></div>
			</div>
		</div>
		<div class="comui-form-item" pane>
			<label class="comui-form-label">单选框</label>
			<div class="comui-input-block">
				<input type="radio" name="sex" value="男" title="男">
				<div class="comui-unselect comui-form-radio"><i class="comui-anim comui-icon"></i>
					<div>男</div>
				</div>
				<input type="radio" name="sex" value="女" title="女" checked>
				<div class="comui-unselect comui-form-radio comui-form-radioed"><i class="comui-anim comui-icon comui-anim-scaleSpring"></i>
					<div>女</div>
				</div>
				<input type="radio" name="sex" value="中型" title="中" disabled>
				<div class="comui-unselect comui-form-radio comui-radio-disbaled comui-disabled"><i class="comui-anim comui-icon"></i>
					<div>中</div>
				</div>
			</div>
		</div>
		<div class="comui-form-item comui-form-text">
			<label class="comui-form-label">请填写描述</label>
			<div class="comui-input-block">
				<textarea class="comui-textarea" placeholder="请输入内容"  name="desc"></textarea>
			</div>
		</div>
		<div class="comui-form-item">
			<div class="comui-input-block">
				<button class="comui-btn">立即提交</button>
				<button type="reset" class="comui-btn comui-btn-primary">重置</button>
			</div>
		</div>
	</form>

	<br><br><br>

</div>