/* 背景颜色 */
.comui-bg-red{background-color: #FF5722 !important; color: #fff!important;} /*赤*/
.comui-bg-orange{background-color: #FFB800!important; color: #fff!important;} /*橙*/
.comui-bg-green{background-color: #009688!important; color: #fff!important;} /*绿*/
.comui-bg-cyan{background-color: #2F4056!important; color: #fff!important;} /*青*/
.comui-bg-blue{background-color: #1E9FFF!important; color: #fff!important;} /*蓝*/
.comui-bg-black{background-color: #393D49!important; color: #fff!important;} /*黑*/
.comui-bg-gray{background-color: #eee!important; color: #666!important;} /*灰*/