<div>
	<h3>导航一</h3>
	<br />
	<div style="position: relative; height: 40px; ">
		<div class="comui-navbar">
            <ul class="comui-nav clearfix">
                <li>
                    <a href="#" data-id="sy" class="active">首页</a>
                </li>
                <li class="line" id="navContent"></li>
                <li>
                    <a href="#" data-id="6" data-title="重点工作" data-code="MK_SKJD_ZDGZ" data-href="/skjd/workPlanAction.do?action=display3Works&amp;workType=IMPORTANCE">重点工作</a>
                </li>
                <li class="line"></li>
                <li>
                    <a href="#" data-id="8" data-title="民生实事" data-code="MK_SKJD_MSSS" data-href="/skjd/workPlanAction.do?action=display3Works&amp;workType=LIVELIHOOD">民生实事</a>
                </li>
                <li class="line"></li>
                <li>
                    <a href="#" data-id="7" data-title="创新工作" data-code="MK_SKJD_CXGZ" data-href="/skjd/workPlanAction.do?action=display3Works&amp;workType=INNOVATE">创新工作</a>
                </li>
                <li class="line"></li>
                <li>
                    <a href="#" data-id="9" data-title="小型工程招投标" data-code="MK_SKJD_XXGCZB" data-href="/skjd/projectBidAction.do?action=display">小型工程招投标</a>
                </li>
                <li class="line"></li>
                <li>
                    <a href="#" data-id="10" data-title="情况汇总" data-code="MK_SKJD_QKHZ" data-href="/skjd/skjd/qkhz/qkhzPage.vm">情况汇总</a>
                </li>
                <li class="line"></li>
                <li>
                    <a href="#" data-id="2" data-title="系统管理" data-code="MK_XTGL" data-href="undefined">系统管理</a>
                    <ul class="second-nav" style="display: none;">
                        <li>
                            <a href="#">组织架构</a> <i class="icon-right">&gt;</i>
                            <ul class="third-nav" style="display: none;">
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=unitView">单位管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=departmentView">部门管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=groupView">岗位管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=jobTitleView">职务管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/jobLevelAction.do?action=display">职务级别管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=userView">用户管理</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">权限配置</a> <i class="icon-right">&gt;</i>
                            <ul class="third-nav" style="display: none;">
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=ouLevelView">级别管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=modelView">模块管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=privilegeView">权限管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=roleView">角色管理</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">系统配置</a> <i class="icon-right">&gt;</i>
                            <ul class="third-nav" style="display: none;">
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=policyView">系统策略管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=optionItemView">可选项管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=sysConfigItemView">系统参数管理</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=vCfgView">视图配置</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=reportArgsMgrView">报表参数配置</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=viewReportTemplate">报表模板配置</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=preUnitView">预选库单位设置</a>
                                </li>
                                <li>
                                    <a href="#" data-href="/skjd/viewAction.do?action=getViewJson&amp;code=tendGroupView">招标人员配置</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">系统管理展示</a>
                        </li>
                        <li>
                            <a href="#">系统日志</a>
                        </li>
                    </ul>
                </li>
                <li class="line"></li>
                
            </ul>
        </div>
		
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>

		<script type="text/javascript">
			$(function() {
				navHover();
			});
			function navHover(){
				var _this1 = null;
				// 一级菜单的hover事件
				$('.nav>li').hover(function() {								// 触发时执行的函数
					_this1 = $(this);
					_this1.find('.second-nav').show();
					var _this2 = null;
					// 二级菜单的hover事件
					_this1.find('.second-nav').find('li').hover(function() {// 触发时执行的函数
						_this2 = $(this);
						_this2.find('.third-nav').show();
						// 三级菜单的hover事件
						_this2.find('.third-nav').hover(function() {		// 触发时执行的函数
							$(this).show();
						}, function() {										// 非触发时执行的函数
							$(this).hide();
						});
					}, function() {											// 非触发时执行的函数
						_this2.find('.third-nav').hide();
					});
				}, function() {												// 非触发时执行的函数
					_this1.find('.second-nav').hide();
				});
			}
		</script>
	</div>
</div>