/* 去补白 */
.comui-no-padding{padding: 0;}
.comui-no-left-padding{padding-left: 0;}
.comui-no-right-padding{padding-right: 0;}
.comui-no-top-padding{padding-top: 0;}
.comui-no-bottom-padding{padding-bottom: 0;}
.comui-no-margin{margin:0;}
.comui-no-left-margin{margin-left: 0;}
.comui-no-right-margin{margin-right: 0;}
.comui-no-top-margin{margin-top: 0;}
.comui-no-bottom-margin{margin-bottom: 0;}

.flex-box{
	display: flex;
}